<%-include('../layouts/header.ejs')-%>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
        navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Model
                            Rambut</a>
                    </li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Index</li>
                </ol>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 d-flex justify-content-end" id="navbar">

                <ul class="navbar-nav d-flex justify-content-end">

                    <form action="/auth/logout" method="post">
                        <li class="nav-item d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                                <i class="fa fa-user me-sm-1"></i>
                                <button type="submit" style="border:none ;">
                                    <span class="d-sm-inline d-none">Sign Out</span>
                                </button>

                            </a>
                        </li>
                    </form>
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="row mt-2" id="message">
        <div class="col-md-12" id="text-message">
            <% if (messages.error) { %>
            <div class="alert alert-danger"><%- messages.error %> </div>
            <% } %>
            <% if (messages.success) { %>
            <div class="alert alert-success"><%- messages.success %> </div>
            <% } %>
        </div>
    </div>
    <div class="container-fluid py-4">
        <div class="row">

            <div class="col-12 mt-4">
                <div class="card mb-4">
                    <div class="card-header pb-0 p-3 d-flex justify-content-between">
                        <h6 class="mb-1">Model
                            Rambut</h6>

                    </div>
                    <div class="card-body p-3">
                        <div class="row">
                            <% models.forEach((element,index) => { %>
                            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                                <div class="card card-blog card-plain mb-5">
                                    <div class="position-relative">
                                        <a class="d-block shadow-xl border-radius-xl text-center">

                                            <img src="../images/<%= element.foto %>" alt="img-blur-shadow"
                                                class="img-fluid shadow border-radius-xl img">
                                        </a>
                                    </div>
                                    <div class="card-body px-1 pb-0">
                                        <p class="text-gradient text-dark mb-2 text-sm"><%= index+1 %></p>
                                        <a href="javascript:;">
                                            <h5>
                                                <%= element.model %>
                                            </h5>
                                        </a>
                                        <p class="mb-4 text-sm">
                                            <%= element.keterangan %>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../layouts/footer.ejs')-%>